html, body {
    background-color: black;
    font-family: 'Roboto', sans-serif ;
    color: white;
}

main {
    width: 100%;
    height: 100vh;
    background-image: url('../img/mainImage.jpg');
}

main::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

section {
    width: 100%;
    min-height: 500px;
}

/**TITLES**/
h1 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif ;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 8px;
}

h2 {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif ;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 8px;
}

.title-pre {
    color: #0B67AA;
}
/**END-TITLES**/

/**GENERICS**/
.bg-image {
    background-repeat: no-repeat;
    background-position: center;
}

.bg-image-cover {
    background-size: cover;
}

.bg-image-contain {
    background-size: contain;
}

.btn {
    text-decoration: none;
    margin: 8px;
    border-style: solid;
    border-width: 2px;
    border-radius: 54px;
    padding: 8px 32px 8px 32px;
}

.btn-primary {
    border-color: #798088;
    color: #798088;
    background-color: transparent;
}

.btn-primary:hover {
    color: #798088;
    background-color: transparent;
    border-color: #798088;
    transform: scale(1.1);
}

.btn-secondary {
    border-color: #0B67AA;
    color: white;
    background-color: #0B67AA;
}

.btn-secondary:hover {
    border-color: #0B67AA;
    color: white;
    background-color: #0B67AA;
    transform: scale(1.1);
}

.align-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section-primary {
    width: 100%;
    background-color: whitesmoke;
    color: black;
    min-height: 500px;
}

.section-secondary {
    background-color: black;
    color: #798088;
}

.card-primary {
    background-color: black;
    color: #798088;
}

.card-primary:hover {
    transform: scale(1.05);
}

.card-secondary {
    background-color: black;
    color: #798088;
}

.card-secondary:hover {
    transform: scale(1.05);
}

.card-header {
    height: 120px;   
    background-color: white;
}

.card-header::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;    
    left: 0;
    right: 0;
    height: 120px;
}

.card-primary-title {
    color:#0B67AA;
    margin-bottom: 16px;
}

.card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/**END-GENERICS**/

.main-navBar {
    background-color: black !important;
    padding-left: 16px;
    padding-right: 16px;
}

.navBar-brand {
    font-size: 1rem;
}

.navbar-dark .navbar-brand {
    color: #798088;
}

.navbar-dark .navbar-nav .nav-link {
    color: #798088;
}

.main-items {
    width: 90%;
    position: absolute;
}

.main-logo {
    width: 100%;
    height: 100px;
    background-image: url('../img/mainIcon.png');
}

.main-icons {
    width: 100%;
    height: 80px;
    color: #798088;
}

.main-links {
    margin-top: 16px;
}

.link-icon {
    color: #798088;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
}

.link-icon:hover {
    color: #0B67AA;
    transform: scale(1.3);
}

.section-crypto {
    background-image: url('../img/blockchain.jpg');
}

.section-mobile {
    background-image: url('../img/mobile.jpg');
}

.section-webapp {
    background-image: url('../img/webapp.jpg');
}

@media (min-width: 576px) { 
    .main-logo {
        height: 150px;
    }

    .align-items {
        flex-direction: row;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .main-items {
        width: 80%;
    }

    .main-logo {
        height: 170px;
    }
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .navbar-nav {
        width: 100%;
        justify-content: flex-end;
    }

    .main-items {
        width: 70%;
    }

    .main-logo {
        height: 220px;
    }

    .main-links {
        margin-top: 32px;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .main-items {
        width: 50%;
    }

    .main-links {
        margin-top: 64px;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { }