html, body {
    background-color: black;
    font-family: 'Roboto', sans-serif ;
    color: white;
}

main {
    width: 100%;
    height: 100vh;
    background-image: url('../img/mainImage.jpg');
}

main::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/**GENERICS**/
.bg-image {
    background-repeat: no-repeat;
    background-position: center;
}

.bg-image-cover {
    background-size: cover;
}

.bg-image-contain {
    background-size: contain;
}

/**END-GENERICS**/

.main-navBar {
    background-color: black !important;
    padding-left: 16px;
    padding-right: 16px;
}

.navBar-brand {
    font-size: 1rem;
}

.main-items {
    width: 90%;
    position: absolute;
}

.main-logo {
    width: 100%;
    height: 100px;
    background-image: url('../img/mainIcon.png');
}

.main-icons {
    width: 100%;
    height: 80px;
    color: #798088;
}

.link-icon {
    color: #798088;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
}

.link-icon:hover {
    color: #0B67AA;
    transform: scale(1.3);
}

@media (min-width: 576px) { 
    .main-logo {
        height: 150px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .main-items {
        width: 80%;
    }

    .main-logo {
        height: 170px;
    }
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .navbar-nav {
        width: 100%;
        justify-content: flex-end;
    }

    .main-items {
        width: 70%;
    }

    .main-logo {
        height: 220px;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .main-items {
        width: 50%;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { }