html, body {
    background-color: black;
    font-family: 'Roboto', sans-serif ;
    color: #798088;
}

.main-app {
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-color: white;
    margin: 0 auto;
}

section {
    width: 100%;
    min-height: 800px;
    position: relative;
}

/**TITLES*/
h1 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif ;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 8px;
}

h2 {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif ;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 8px;
}

h3 {
    font-size: 1em;
    font-family: 'Roboto', sans-serif ;
    font-weight: normal;
    margin-top: 24px;
    margin-bottom: 8px;
}

.title-pre {
    color: #0B67AA;
}

.title {
    text-align: center;
    margin: 24px 0px 24px 0px;
}

/**END-TITLES*

/****GENERICS***/

/*Images*/
.bg-image {
    background-repeat: no-repeat;
    background-position: center;
}

.bg-image-cover {
    background-size: cover;
}

.bg-image-contain {
    background-size: contain;
}
/*End Image*/

/*Buttons*/
.btn {
    text-decoration: none;
    margin: 8px;
    border-style: solid;
    border-width: 2px;
    border-radius: 54px;
    padding: 8px 32px 8px 32px;
}

.btn-primary {
    border-color: #798088;
    color: #798088;
    background-color: transparent;
}

.btn-primary:hover {
    color: #798088;
    background-color: transparent;
    border-color: #798088;
    transform: scale(1.1);
}

.btn-secondary {
    border-color: #0B67AA;
    color: white;
    background-color: #0B67AA;
}

.btn-secondary:hover {
    border-color: #0B67AA;
    color: white;
    background-color: #0B67AA;
    transform: scale(1.1);
}
/*End Buttons*/

/*Sections*/
.section-primary {
    width: 100%;
    background-color: white;
    color: black;
}

.section-secondary {
    background-color: black;
    color: #798088;
}
/*End Sections*/

/****END GENERICS***/
