.card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-primary {
    background-color: white;
    color: #798088;
}

.card-primary:hover {
    transform: scale(1.05);
}

.card-primary-title {
    color:#0B67AA;
    margin: 24px 0px 24px 0px;
}

.card-primary-title div h3 {
    color: black;
}